
<table summary="Datasources List">
  <thead>
    <tr>
      <th width="200">Query</th>
      <th width="100">Datasource Name</th>
      <th width="50">Length</th>
      <th width ="750">Attributes</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat = "source in sources">
      <td><input type="text" ng-model="source.query"></input><a ng-click="sourceQuery(source)" class="button" >submit</a></td>
      <td>{{source.name}}</td>
      <td>{{source.length}}</td>
      <td><div class = "label" ng-repeat="att in source.attributes">{{att}}</div></td>
     
    </tr>
    
  </tbody>
</table>
 